
.selectBox select {
    width: 94%;

    background-color: #17c;
    color: #fff;
    font-size: inherit;
    padding: .5em 2.5em .5em .5em;
    border: 0;
    border-radius: 3px;
    text-indent: 0;
    text-overflow: '';
    -webkit-appearance: button;
    margin: 0 0 0 13px;
}

.overSelect {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


#mySelectOptions {
    display: none;
    border: 1px #7c7c7c solid;
    background-color: #ffffff;
    max-height: 150px;
    overflow-y: scroll;

    flex-direction: column;
    width: 94%;
    margin-left: 13px;
}


#mySelectOptions .element:hover {
    background-color: #1e90ff;
}

.check_box {
    margin-left: 10px;
    margin-right: 10px;
}

.check_label {
    padding-top: 10px;
    padding-bottom: 10px;
}

.element {
    display: flex;
}