<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link th:href="@{/public/css/sign.css}" rel="stylesheet" />
    <script defer th:src="@{/public/js/sign.js}"></script>
</head>
<body>
    <section class="forms-section">
        <h1 class="section-title">Нотариальная контора</h1>
        <div class="forms">
            <div class="form-wrapper is-active">
                <button type="button" class="switcher switcher-login">
                    Вход
                    <span class="underline"></span>
                </button>
                <form class="form form-login" method="post" th:action="@{/sign}" role="form">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Неверный логин или пароль.</div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">Вы вышли из аккаунта.</div>
                    </div>
                    <fieldset>
                        <legend>Пожалуйста, введите вашу почту и пароль.</legend>
                        <div class="input-block">
                            <label for="login-email">E-mail</label>
                            <input id="login-email" type="email" required name="username">
                        </div>
                        <div class="input-block">
                            <label for="login-password">Пароль</label>
                            <input id="login-password" type="password" required name="password">
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-login">Войти</button>
                </form>
            </div>
            <div class="form-wrapper">
                <button type="button" class="switcher switcher-signup">
                    Регистрация
                    <span class="underline"></span>
                </button>
                <form class="form form-signup" th:action="@{/sign/up/save}" th:object="${user}" method="post">
                    <fieldset>
                        <legend>Пожалуста, введите ваше имя, фамилию, почту и пароль для регистрации.</legend>
                        <div class="input-block">
                            <label for="signup-name">Имя</label>
                            <input id="signup-name" type="text" required th:field="*{firstName}">
                            <p th:errors="*{firstName}" class="text-danger"
                               th:if="${#fields.hasErrors('firstName')}"></p>
                        </div>
                        <div class="input-block">
                            <label for="signup-surname">Фамилия</label>
                            <input id="signup-surname" type="text" required th:field="*{lastName}">
                            <p th:errors="*{lastName}" class="text-danger"
                               th:if="${#fields.hasErrors('lastName')}"></p>
                        </div>
                        <div class="input-block">
                            <label for="signup-email">E-mail</label>
                            <input id="signup-email" type="text" required th:field="*{email}">
                            <p th:errors="*{email}" class="text-danger"
                               th:if="${#fields.hasErrors('email')}"></p>
                        </div>
                        <div class="input-block">
                            <label for="signup-password">Пароль</label>
                            <input id="signup-password" type="password" required th:field="*{password}">
                            <p th:errors="*{password}" class="text-danger"
                               th:if="${#fields.hasErrors('password')}"></p>
                        </div>
                    </fieldset>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">You've successfully registered
                            to our app!</div>
                    </div>
                    <button type="submit" class="btn-signup">Продолжить</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>