<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Сделки</title>
  <link th:href="@{../private/css/default.css}" rel="stylesheet" />
  <link th:href="@{../private/css/nav.css}" rel="stylesheet" />
  <link th:href="@{../private/css/table.css}" rel="stylesheet" />

</head>
<body>
  <div th:replace="~{topnav.html :: navbar}"></div>

  <div id="wrapper">
    <h1  class="table_heading">Сделки</h1>

    <table class="deals_table" id="keywords" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th><span>Идентификационный номер</span></th>
        <th><span>Сумма</span></th>
        <th><span>Комиссия</span></th>
        <th><span>Описание</span></th>
        <th><span>Телефон клиента</span></th>
        <th><span>Имя, фамилия клиента</span></th>
        <th><span>Названия услуг</span></th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="deal: ${deals}">
        <tr>
          <td th:text="${deal.id}"></td>
          <td th:text="${deal.amount}"></td>
          <td th:text="${deal.commission_fees}"></td>
          <td th:text="${deal.description}"></td>
          <td th:text="${deal.clientPhoneNumber}"></td>
          <td th:text="${deal.clientNameSurname}"></td>
          <td>
            <p th:each="service : ${deal.getServiceDtoList()}">
              <span th:text="${service}"></span>
            </p>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</body>
</html>