<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Комплекс услуг</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <link th:href="@{/private/css/default.css}" rel="stylesheet" />
  <link th:href="@{/private/css/nav.css}" rel="stylesheet" />
  <link th:href="@{/private/css/table.css}" rel="stylesheet" />
  <link th:href="@{/private/css/popup.css}" rel="stylesheet" />
  <link th:href="@{/private/css/table-buttons.css}" rel="stylesheet" />

  <script th:src="@{/private/js/popup.js}"></script>

  <script>
    function editButtonClicked(value) {
      location.href = "/services/update/" + value;
    }
    function deleteButtonClicked(data) {
      let url = "services/delete"
      let form = document.createElement("form");
      document.body.appendChild(form);
      form.method = 'post';
      form.action = url;

      let input = document.createElement("input");
      input.type = 'hidden';
      input.name = "id";
      input.value = data;
      form.appendChild(input);
      form.submit();
    }
  </script>

</head>
<body>
  <div th:replace="~{topnav.html :: navbar}"></div>

  <div id="wrapper">
    <h1 class="table_heading">Комплекс услуг</h1>
    <table id="keywords" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th><span>Идентификационный номер</span></th>
        <th><span>Название услуги</span></th>
        <th><span>Описание</span></th>
        <th><span>Действия</span></th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="service: ${services}">
          <td th:text="${service.id}"></td>
          <td th:text="${service.name}"></td>
          <td th:text="${service.description}"></td>
          <td><a class="table-button primary edit" th:id="${service.id}"
                 onclick="editButtonClicked(this.getAttribute('id'))">Изменить</a>
            <a class="table-button primary delete" th:id="${service.id}"
               onclick="deleteButtonClicked(this.getAttribute('id'))">
              <i class="fa fa-trash"></i> Удалить</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button add-button">
      Добавить услугу
    </div>
  </div>
  <div class="center modal-box">
    <div class="fas fa-times"></div>
    <div class="form_container">
      <form name="form" th:action="@{/services/add/save}" th:object="${service}" method="post">

        <div class="form_wrap">
          <div class="form_item">
            <label>Название услуги
              <input type="text" th:field="*{name}">
            </label>
          </div>
        </div>
        <div class="form_wrap">
          <div class="form_item">
            <label>Описание
              <textarea rows="15" cols="54" type="text" th:field="*{description}"></textarea>
            </label>
          </div>
        </div>
        <div class="btn">
          <input type="submit" value="Продолжить">
        </div>
      </form>
    </div>
  </div>
</body>
</html>