<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta charset="UTF-8">
  <title>Пользователи</title>
  <link th:href="@{/private/css/default.css}" rel="stylesheet" />
  <link th:href="@{/private/css/nav.css}" rel="stylesheet" />
  <link th:href="@{/private/css/table.css}" rel="stylesheet" />
  <link th:href="@{/private/css/table-buttons.css}" rel="stylesheet" />

  <script>
    function editButtonClicked(value) {
      location.href = "/users/update/" + value;
    }
  </script>

</head>
<body>
  <div th:replace="~{topnav.html :: navbar}"></div>

  <div id="wrapper">
    <h1 class="table_heading">Все сотрудники</h1>

    <table class="deals_table" id="keywords" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th><span>Идентификационный номер</span></th>
        <th><span>Имя</span></th>
        <th><span>Фамилия</span></th>
        <th><span>Электронная почта</span></th>
        <th><span>Действия</span></th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="user: ${users}"  th:id="${user.id}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.firstName}"></td>
          <td th:text="${user.lastName}"></td>
          <td th:text="${user.email}"></td>
          <td><a class="table-button primary edit" th:id="${user.id}"
                 onclick="editButtonClicked(this.getAttribute('id'))">Изменить роли</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>